.credit-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50vw;
    height: 32vw;
    padding: 25px;
    border-radius: 15px;
    max-width: 400px;
    max-height: 250px;
    color: white;

    background-image: linear-gradient(25deg, #0f509e, #1399cd);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.credit-card__number {
    display: flex;
    justify-content: center;

    font-family: 'Arial', sans-serif;
    font-size: 2em;
}

.credit-card__info {
    display: flex;
    justify-content: space-between;

    font-family: 'Arial', sans-serif;
    font-size: 2em;
}

.credit-card__info_label {
    font-size: 0.4em;
}

.credit-card__info_expiry {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
