/*#phoneNumber {
    background-color: orange
}

#email {
    background-color: red

}

#passwordOne {
    background-color: green;

}

#passwordTwo {
    background-color: blue

}

*/
span {
    color: firebrick;
}
