.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background: lightseagreen;
}

.error {
    font-size: 14px;
    text-align: center;
    color: red;
}

input[type='file'] {
    color: transparent;
}
